{% load static %}
<html>
<head>
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="{% static "s1.css" %}"
</head>
<body>
    <h2>Upload Resumes and Paste Job Description</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="jd">Job Description:</label><br>
        <textarea name="jd" id="jd" rows="6" cols="50" required></textarea><br><br>

        <label for="resume">Upload Resume(s) (PDF only):</label><br>
        <input type="file" name="resume" id="fresher" accept=".pdf" multiple required><br><br>

        <button type="submit" id="fresher">Analyze -></button>
    </form>

    {% if results %}
    <h3>Analysis Results:</h3>
    <table>
        <tr>
            <th>Resume Name</th>
            <th>Result</th>
            <th>Mail Id</th>
        </tr>
        {% for res in results %}
        <tr>
            <td>{{ res.filename }}</td>
            <td>{{ res.result }}</td>
            <td>{{res.mails}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>
