{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'landing.css' %}">
        <title><h1>Resume Filter</h1></title>
        <Br>
            <Br>
        <hr>
        <BR>
            <table>
                <thead>Choose Type of Candidate</thead><Br><Br>
                <tr><input type="button" value="Fresher" onclick="window.location.href='{% url 'home' %}'" id='fresher'></tr><Br><br>
                <tr><input type="button" value="Experienced" onclick="window.location.href='{% url 'experienced' %}'" id='experienced'></tr><br><Br>
            </table>
            
    </head>

<body>
    