{% load static %}
<html>
    <head>
        <title>Resume Filter</title>
        <Br>
            <Br>
        <hr>
        <BR>
            <table>
                <thead>Choose Type Of Candidate</thead><Br><Br>
                <tr><input type="button" value="Fresher" onclick="window.location.href='{% url 'home' %}'"></tr><Br><br>
                <tr><input type="button" value="Experienced" onclick="window.location.href='{% url 'experienced' %}'"></tr><br><Br>
            </table>

    </head>

<body>
    